blendmodes
accelerate
basicsr
fonts
font-roboto
gfpgan
gradio==3.16.2
invisible-watermark
torch==1.13.1
torchvision==0.14.1
torchdiffeq
torchsde
pytorch_lightning
numpy==1.21.5
omegaconf
opencv-contrib-python
requests
piexif
Pillow
realesrgan
scikit-image>=0.19
transformers==4.25.1
einops
jsonmerge
clean-fid
resize-right
kornia
lark
inflection
GitPython
safetensors
psutil
tqdm
diffusers==0.14.0
controlnet_aux
git+https://github.com/huggingface/accelerate.git
xformers
langchain
dlib==19.24.0
timm==0.6.12